name: VXG-tests

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        environment: vxg
        env:
            BASE_URL: ${{ secrets.BASE_URL }}
            SYSTEM_USERNAME: ${{ secrets.SYSTEM_USERNAME }}
            SYSTEM_PASSWORD: ${{ secrets.SYSTEM_PASSWORD }}

        steps:
            - name: Environment Variables
              run: |
                  echo "BASE URL: $BASE_URL"
                  echo "SYSTEM USERNAME: $SYSTEM_USERNAME"
                  echo "SYSTEM PASSWORD: $SYSTEM_PASSWORD"

            - name: Checkout
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v3

            - name: Install dependencies
              run: |
                  npm install
                  npx playwright install

            - name: Run tests on Playwright
              run: npm run tests:allure --config=playwright.prod.config.ts

            - name: Get Allure history
              uses: actions/checkout@v3
              if: always()
              continue-on-error: true
              with:
                  ref: gh-pages
                  path: gh-pages

            - name: Allure Report action from marketplace
              uses: simple-elf/allure-report-action@master
              if: always()
              with:
                  allure_results: allure-results
                  allure_history: allure-history
                  keep_reports: 20

            - name: Deploy report to Github Pages
              if: always()
              uses: peaceiris/actions-gh-pages@v3
              with:
                  PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  PUBLISH_BRANCH: gh-pages
                  PUBLISH_DIR: ./allure-report
